<html>
  <head>
    <meta charset="utf-8">
    <title>The Best Tailored Derm-Grade Retinoid and Retinol Serums and Creams - Dear Brightly</title>
    <meta name="description" content="Dear Brightly is the most convenient way to get derm-grade retinoid serums to treat and prevent photoaging (i.e., fine lines and wrinkles, uneven skin tone, big pores, and dark sun spots). The most effective retinoid is 20x more potent than retinol and can’t be store bought, so we get it delivered to you.">
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <meta property="og:url" content="https://www.dearbrightly.com" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="The best way to get your tailored retinoid – online." />
    <meta property="og:description" content="Dear Brightly is the most convenient way to get derm-grade retinoid serums to treat and prevent photoaging (i.e., fine lines and wrinkles, uneven skin tone, big pores, and dark sun spots). The most effective retinoid is 20x more potent than retinol and can’t be store bought, so we get it delivered to you." />
    <meta property="og:image" content="https://d17yyftwrkmnyz.cloudfront.net/DearBrightly_2682-min.jpg" />
    <meta name="facebook-domain-verification" content="us0vdgm4ltc1xc5v2uvx9xmnc9hoto" />

    <!-- Google Tag Manager -->
    <script>window.dataLayer = window.dataLayer || [];</script>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl+"<%= htmlWebpackPlugin.options.envs.gtm_dev_params %>";f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer',"<%= htmlWebpackPlugin.options.envs.gtm_id %>");</script>
    <!-- End Google Tag Manager -->

    <!-- Facebook Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', "<%= htmlWebpackPlugin.options.envs.facebook_pixel %>");
      fbq('track', 'PageView');
    </script>
    <noscript>
      <img height="1" width="1" style="display:none"
           src="https://www.facebook.com/tr?id=<%= htmlWebpackPlugin.options.envs.facebook_pixel %>&ev=PageView&noscript=1"/>
    </noscript>
    <!-- End Facebook Pixel Code -->

    <!--  Pinterest Verification  -->
    <meta name="p:domain_verify" content="5c6c3caf093fa859b673fd24ac570185"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700">

    <link rel="shortcut icon" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAQAAADZc7J/AAAAAW9yTlQBz6J3mgAAAAFzUkdCAK7OHOkAAAHmSURBVEjHndVNSFRRFAfw32imZtgXjfZpQpFKGS3UxGUEQa3KTWVFFIopLSIQirYlSasKpkCEolol0aoPV5EE7VpMtjKSIhFXQi2lRTbNG9+7k97VOef9z//e8869/5OqFVyNSmRDgBXhfP0qnA8BUsETbDCh3G7TyZCS4P6dNqp2IgQJEVTpBadVLo+g0z7QrH05BOsNLFiljiyH4JrGnN2hYqkER13K8xrUL42gxb3IDVlj51II9ntse0Fs6/8TdHpm16LoWrBSc5igxqAnsfWWgrTnMjbHE1TrMWZAWexJf4JD6vV4o8+6KEGNC17J2JNUqR+odBE0ueu1HpsgVduq22FbhNYvrbIuux2JTnvpQYkyVVYJr4+y2lwviFaqUvbnOdc55py9iQSnjHkX6U3WiFFf8vUgrUtv7IX5oM+ggzl/0n0P/2pEVFDqXNFfkD7rkXYHcn7GkMl/nxcr0hk3I52eMm/Hgj3jquEoPE7SOjy1LaaU7056WxiMewvjumJUcNbZxemUro77619NOS6VF5nX7UUcNJ6AT2q05PnDbsQDk2U9bTzX1CkdvsXDkiVtxq2cPZSUHh4s1d5rwmdt5pJAIVmfkwEjyenFRlvahHINyQUUG64zRlWE0otP5ztFpqfftxhYO4t23SAAAAAASUVORK5CYII=">

    <!--Optimizely X web snippet. Note: This needs to come BEFORE the Segment snippet.-->
    <!--  <script src="https://cdn.optimizely.com/js/10409550387.js"></script>  -->

    <!-- Stripe Payment-->
    <script defer src="https://js.stripe.com/v3/"></script>

    <!-- Highlight-->
    <script src="https://cdn.jsdelivr.net/npm/highlight.run@latest" type="module" defer></script>
    <script>
      window.addEventListener('DOMContentLoaded', function() {
        if (typeof window.H !== 'undefined') {
          window.H.init("<%= htmlWebpackPlugin.options.envs.highlight_account_id %>", {
            enableSegmentIntegration: false,
            enableStrictPrivacy: true
          })
        }
      });
    </script>

  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=<%= htmlWebpackPlugin.options.envs.gtm_id %><%= htmlWebpackPlugin.options.envs.gtm_dev_params %>" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css" />
    <div id="app"></div>
  </body>
</html>
